res/xml-schema/XmlMessageDisconnectResult.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="xmlMessageDisconnectResult" type="xmlMessageDisconnectResult"/>

  <xs:element name="xmlMessageResult" type="xmlMessageResult"/>

  <xs:complexType name="xmlMessageDisconnectResult">
    <xs:complexContent>
      <xs:extension base="xmlMessageResult">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="xmlMessageResult">
    <xs:complexContent>
      <xs:extension base="xml">
        <xs:sequence>
          <xs:element name="data" type="data" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="xml" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="data">
    <xs:sequence/>
    <xs:attribute name="command" type="xs:byte" use="required"/>
    <xs:attribute name="errorMessage" type="xs:string"/>
    <xs:attribute name="id" type="xs:byte" use="required"/>
  </xs:complexType>
</xs:schema>

